body
{
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
}

#playerinfo, #characters, #areas, #properties, #currentEvent, .character, .property
{
    border-top: 0.3vh solid black;
    border-bottom: 0.3vh solid black;
    border-left: 0.15vw solid black;
    border-right: 0.15vw solid black;
}

.character, .property
{
    border-radius: 5px;
    width: auto;
    margin-bottom: 5px;
    padding: 5px;
    overflow: hidden;
}

.character-name, .area-name, .property-name
{
    margin: 0px;
}

#playerinfo
{
    border-radius: 5px;
    margin-bottom: 0.6vh;
    height: 9.94vh;
}

#characters
{
    border-radius: 5px;
    height: 85.4vh;
    overflow-y: auto;
}

#properties
{
    border-radius: 5px;
    margin-right: 5px;
    height: 97.2vh;
    overflow-y: auto;
}

.character-stats
{
    overflow: hidden;
}

.character-stats div
{
    float: left;
    padding-right: 10px;
}

#mid-area, #left-area, #right-area
{
    float: left;
    height: 99vh;
}

#mid-area
{
    width: 69.6vw;
}

#left-area, #right-area
{
    width: 14.2vw;
}

#areas
{
    border-radius: 5px;
    margin-bottom: 0.6vh;
    margin-right: 0.3vw;
    margin-left: 0.3vw;
    height: 47.4vh;
}

#currentEvent
{
    border-radius: 5px;
    margin-right: 0.3vw;
    margin-left: 0.3vw;
    height: 47.4vh;
}

#playerinfo, #characters, #areas, #properties, #currentEvent
{
    padding-top: 0.6vh;
    padding-bottom: 0.6vh;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
    overflow: auto;
}
