html, body
{
  height: 98%; 
}

.character, .property
{
    border: 2px solid black;
    border-radius: 5px;
    width: auto;
    margin-bottom: 5px;
    padding: 5px;
}

.character-name, .area-name, .property-name
{
    margin: 0px;
}

#playerinfo
{
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 10%;
    padding: 5px;
}

#characters
{
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 5px;
    height: 90%;
    padding: 5px;
    overflow-y: auto;
}

#properties
{
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 5px;
    height: 100%;
    padding: 5px;
    overflow-y: auto;
}

.character-stats
{
    overflow: hidden;
}

.character-stats div
{
    float: left;
    padding-right: 10px;
}

#mid-area, #left-area, #right-area
{
    float: left;
    height: 100%;
}

#mid-area
{
    width: 70%;
}

#left-area, #right-area
{
    width: 15%;
}

#areas
{
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    height: 50%;
    padding: 5px;
}

#currentEvent
{
    border: 2px solid black;
    border-radius: 5px;
    height: 50%;
    padding: 5px;
    
}
