body
{
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.character, .property
{
    border: 2px solid black;
    border-radius: 5px;
    width: auto;
    margin-bottom: 5px;
    padding: 5px;
}

.character-name, .area-name, .property-name
{
    margin: 0px;
}

#playerinfo
{
    border: 0.3vh solid black;
    border-radius: 5px;
    margin-bottom: 0.6vh;
    height: 9.94vh;
    padding: 0.6vh;
}

#characters
{
    border: 0.3vh solid black;
    border-radius: 5px;
    height: 85.4vh;
    padding: 0.6vh;
    overflow-y: auto;
}

#properties
{
    border: 0.3vh solid black;
    border-radius: 5px;
    margin-right: 5px;
    height: 97.2vh;
    padding: 0.6vh;
    overflow-y: auto;
}

.character-stats
{
    overflow: hidden;
}

.character-stats div
{
    float: left;
    padding-right: 10px;
}

#mid-area, #left-area, #right-area
{
    float: left;
    height: 99vh;
}

#mid-area
{
    width: 70%;
}

#left-area, #right-area
{
    width: 15%;
}

#areas
{
    border: 0.3vh solid black;
    border-radius: 5px;
    margin-bottom: 0.6vh;
    margin-right: 5px;
    margin-left: 5px;
    height: 47.4vh;
    padding: 0.6vh;
}

#currentEvent
{
    border: 0.3vh solid black;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    height: 47.4vh;
    padding: 0.6vh;
    
}
